
body{
    /*padding-top: 70px;*/
}

.panel-title {
    font-weight: bold;
    font-size: 1.5vw;
}
.mate_win_body{
    font-size: 1.1vw;
}
.mate_panel{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
}
@media (min-width: 1261px) {
    .panel-title {
        font-size: 21px;
    }
    .mate_win_body{
        font-size: 17px;
    }
}
@media  {

}
.body_overflow{
    overflow-y: auto;
}
.height_nav{
    height: 55px;
}
.rc_btn{
    display: none;
}
/*.height_container{*/
    /*min-height:100vh;*/
/*}*/