
body{
    /*padding-top: 70px;*/
}

.panel-title {
    font-weight: bold;
    font-size: 1.5vw;
}
.mate_win_body{
    height: 36vh;
    font-size: 1.1vw;
}
@media (min-width: 1250px) {
    .panel-title {
        font-size: 21px;
    }
    .mate_win_body{
        font-size: 17px;
    }
}
.body_overflow{
    overflow-y: auto;
}
.height_nav{
    height: 55px;
}
.height_container{
    min-height:100vh;
}